<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string>Céntrate en lo que has hecho, no en lo que sabes</string>
		<key>descripcion</key>
		<string>En tiempos de inestabilidad las empresas prefieren apostar por valores sólidos y seguros. Si demuestras en tu currículum que eres una persona capaz, organizada y segura, tendrás muchas más posibilidades de hacerte con un puesto. Así pues, destaca ahora más que nunca, tu experiencia y tus logros.</string>
		<key>imagen</key>
		<string>n1.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Preocúpate por la empresa</string>
		<key>descripcion</key>
		<string>Recuerda que es un mala época para todos, también para las empresas (especialmente si son medianas o pequeñas).  Así pues, muestra tu preocupación e implicación en los proyectos de los que has formado parte de forma que transmitas al empresario que vas a hacer todo lo que esté en tu mano para conseguir superar los malos tiempos que puede atravesar la empresa.</string>
		<key>imagen</key>
		<string>n2.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Aprovecha la carta de presentación</string>
		<key>descripcion</key>
		<string>No sólo el Currículum es importante. La carta de presentación puede brindarte un espacio estupendo para acercarte más a la empresa de forma directa. Muestra tu preocupación, menciona el momento crítico que se atraviesa, e intenta presentar soluciones, ideas. Si te presentas como solución, procura rozar la prepotencia.</string>
		<key>imagen</key>
		<string>n3.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>No te centres sólo en las pretensiones económicas</string>
		<key>descripcion</key>
		<string>Si no suele ser acertado hacer exigencias económicas en el Currículum Vitae, aún lo es menos hacerlas en épocas de inestabilidad económica.  Ten claro lo que necesitas y la remuneración que aceptarás para trabajar, pero intenta dejar las exigencias para más adelante.</string>
		<key>imagen</key>
		<string>n4.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Sé positivo</string>
		<key>descripcion</key>
		<string>Esta es una máxima del currículum vitae. Los empresarios no quieren oír críticas, quejas o lamentos, sino ideas y soluciones. Aunque necesites el empleo y la crisis te golpee, no lo plasmes en el Currículum Vitae. Es antiproductivo.</string>
		<key>imagen</key>
		<string>n5.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Destaca tu versatilidad</string>
		<key>descripcion</key>
		<string>En momento de pocas contrataciones, las empresas prefieren tener personas que tengan varias habilidades y que sean capaces de encargarse de asuntos de diferente índole. Si te consideras versátil, aprovecha y destácalo tanto en el currículum vitae como en la carta de presentación.</string>
		<key>imagen</key>
		<string>n6.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Demuestra responsabilidad y confianza</string>
		<key>descripcion</key>
		<string>Es tiempo de desconfianza. Desconfianza entre empresas, entre bancos, entre trabajadores…  Ves contracorriente y muéstrate responsable y digno de confianza. Destaca en tus logros las tareas de responsabilidad y transmite seguridad con tus palabras. Utiliza verbos como organizar, desarrollar, planificar.</string>
		<key>imagen</key>
		<string>n7.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Sé flexible</string>
		<key>descripcion</key>
		<string>No te muestres demasiado rígido, resalta tu capacidad de flexibilidad al hablar de tus logros o al enumerar tu experiencia laboral y transmite tus capacidades de adaptación en la carta de presentación.</string>
		<key>imagen</key>
		<string>n8.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Diversifica tu currículum</string>
		<key>descripcion</key>
		<string>Si aún no cuentas con un curriculum on-line, no has probado el currículum web o el videocurrículum, es el momento para hacerlo. Diversifica, muévete en varios ámbitos a la vez y difunde tu currículum vitae lo máximo posible. Cuanto más lo hagas,  más posibilidades tendrás de encontrar un empleo.</string>
		<key>imagen</key>
		<string>n9.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Fomenta tu creatividad</string>
		<key>descripcion</key>
		<string>Aprovecha los malos tiempos y ponlos a tu favor. Exprime tu creatividad y muéstrate diferente. Es momento de cambio y de nuevas ideas, lo que puede ser muy beneficioso para ti, si sabes como aprovecharlo.</string>
		<key>imagen</key>
		<string>n10.png</string>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Sé coherente con las fechas que detallas</string>
		<key>descripcion</key>
		<string>Algunos currículums presentan incongruencias en este sentido, y se perciben negativamente.</string>
		<key>imagen</key>
		<string>n11.png</string>
	</dict>
</array>
</plist>
